extends layout

block content
  div.container
    div.col-12.category--background
      div.gradient--overlay.gradient--overlay-yellowpink
      h5 #[strong Your Inventory]
      div.category--navigation-container.d-flex
        a(href=`inventory/category/new`) Add new category
  if category_list.length > 0
      div.container
        div.row.d-flex.mt-2.mx-0.justify-content-between
          each category in category_list
              div.col-lg-6.category--container(style=`background-image: url(${category.imgUrl}` alt=category.title)
                div.col-12.gradient--overlay.gradient--overlay-orangeyellow
                  div.category--content
                    div
                      p #[strong #{category.title}]
                      if category.description 
                        p #{category.description}
                    div.category--options 
                      a(href=category.url) 
                        button.btn--edit.btn.btn-sm.btn-success View
                      a(href=`${category.url}/edit`) 
                        button.btn--edit.btn.btn-sm.btn-secondary Edit
                      a(href=`${category.url}/delete`) 
                        button.btn--edit.btn.btn-sm.btn-danger Delete
  else
      div.container
        div.row.d-flex.mt-2.mx-0.justify-content-between
          div.col-lg-12.category--container
            div.col-12.gradient--overlay.gradient--overlay-orangeyellow.align-middle.align-self-center
              div.category--content.d-flex.justify-content-center
                div.justify-content-center
                  h5.mb-3 #[strong No items to show]
                  a.text-decoration-none(href=category.url)
                    button.btn.btn-light.text.d-flex.mx-auto Add new item