extends layout

block content
  nav#navbar.row
    div.navbar--burger(aria-controls= "primary-navigation" aria-expanded="false") 
      span.navbar--burger__span
      span.navbar--burger__span
      span.navbar--burger__span
    div#navbar-menu.navbar--background(data-visible="false")
      ul.navbar--menu
        div
          li.navbar--menu__item
            h6.navbar--menu__info Inventory
        div.navbar--menu__navigation
          li.navbar--menu__item
            a.navbar--menu__link(href=`/inventory`)  Back to Inventory
  script(src="/javascripts/header.js" type="text/javascript")
  div.container--fluid
      div.row.mt-2
        div.row.form
          div.col-12.form--container
            div.col-lg-12.form--column__title
              h3 Adding a new category...
            div.col-12
              form(method='post' action='' enctype="multipart/form-data")
                div.form-group.row
                  div.col-xl-5
                    label(for='title') Title:
                    input#title.form-control(name='title' required value=populate ? populate.title : "" placeholder="Your category title..." maxLength="20")
                    if express_warnings
                      p.form--feedback-warning #{express_warnings.title} 
                  div.col-xl-5
                    label(for='description') Description:
                    input#description.form-control(name='description' required value=populate ? populate.description : "" placeholder="Your category description..." maxLength="90")
                    if express_warnings
                      p.form--feedback-warning #{express_warnings.description}
                div.form-group.row
                    div.col-xl-5
                      label(for='image') Category image:
                      input#image.form-control(type= 'file' name='image' required accept=".jpg, .jpeg, .png")
                      if warnings
                        p.form--feedback-warning #{warnings.img}
                div.form-group.row
                  div.col-12.form--column__submit
                    input.btn.btn-outline-primary(type="submit" value="Create category")