extends layout

block content
  nav#navbar.row
    div.navbar--burger(aria-controls= "primary-navigation" aria-expanded="false") 
      span.navbar--burger__span
      span.navbar--burger__span
      span.navbar--burger__span
    div#navbar-menu.navbar--background(data-visible="false")
      ul.navbar--menu
        div
          li.navbar--menu__item
            h6.navbar--menu__info Inventory
        div.navbar--menu__navigation
          li.navbar--menu__item
            a.navbar--menu__link(href="inventory/category/new") Add new category
  script(src="/javascripts/header.js" type="text/javascript")
  if category_list.length > 0
      div.container--fluid
        div.row.mt-2
          -var normal_card = true
          each category in category_list
            div.col-xl-6.mb-1.mt-1
              div.col-12(class= normal_card ? 'card' : 'card card--display-reverse')
                - var normal_card = !normal_card
                div.col-7.card--content
                  div
                    h3.card__title #[strong #{category.title}]
                    if category.description 
                      p.card__description #{category.description}
                  div.card__buttons
                    a(href=category.url) 
                      button.btn--edit.btn.btn-sm.btn-outline-success View
                    a(href=`${category.url}/edit`) 
                      button.btn--edit.btn.btn-sm.btn-outline-secondary Edit
                    a(href=`${category.url}/delete`) 
                      button.btn--edit.btn.btn-sm.btn-outline-danger Delete
                div.col-5.card__image(style=`background-image: url(${category.imgUrl}` alt=category.title)
  else
    div.container--fluid
      div.row.mt-3.content--empty
        div.col-12.content--empty-content
          div.col-lg-12.content--empty-title
            h5.mb-3 #[strong No categories to show]
          div.col-lg-12.content--empty-cta                  
            a.text-decoration-none(href='inventory/category/new')
              button.btn.btn-sm.btn-outline-primary Add new category